* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  header {
    background-color: #16425b;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;

  }

header h1 {
  color: whitesmoke;
  margin-top: 3vh;
}


  header nav {
    padding: 20px;
  }

  header nav ul {
    display: flex;
    justify-content: end;
    list-style: none;
  }

  header nav ul li {
    margin-left: 3vw;
  }

  a {
    text-decoration: none;
    color: whitesmoke;
  }

  .hero-banner {
    background-image: url("../images/02-hero-bg.jpg");
    height: 40vh;
  }